.app-fundo-navbar {
    background: #c8c8e3bd;
    background: -webkit-linear-gradient(to top, #686870, rgba(17, 44, 113, 0.57));
    background: linear-gradient(to top,  #686870, rgba(17, 44, 113, 0.57));
    }
