/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import "bootstrap-icons";

.fundo-tipo-normal {
    background-color: #b3b3b3;
}

.fundo-tipo-fogo {
    background-color: #9e4343;
}

.fundo-tipo-agua {
    background-color: #496fa1;
}

.fundo-tipo-gelo {
    background-color: #67acbd;
}

.fundo-tipo-voador {
    background-color: #6f8aa3;
}

.fundo-tipo-grama {
    background-color: #5b9a4d;
}

.fundo-tipo-inseto {
    background-color: #7a8332;
}

.fundo-tipo-veneno {
    background-color: #7e579a;
}

.fundo-tipo-terra {
    background-color: #714727;
}

.fundo-tipo-pedra {
    background-color: #736f57;
}

.fundo-tipo-eletrico {
    background-color: #977d2b;
}

.fundo-tipo-lutador {
    background-color: #955c25;
}

.fundo-tipo-psiquico {
    background-color: #9e4662;
}

.fundo-tipo-fantasma {
    background-color: #513651;
}

.fundo-tipo-dragao {
    background-color: #3f4997;
}

.fundo-tipo-sombrio {
    background-color: #493f3f;
}

.fundo-tipo-fada {
    background-color: #885d88;
}

.fundo-tipo-aco {
    background-color: #2e5665;
}
